.products-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-auto-rows: 1fr;
  grid-gap: 0.8rem;
  gap: 0.8rem;
}

.product-card {
  background: rgba(255, 255, 255, 0.5);
  padding: 0.8rem;
  display: flex;
  flex-direction: column;
  position: relative;
}

.product__image {
  flex: 1 1 80%;
  margin-bottom: 1.6rem;
  position: relative;
  z-index: 2;

  img {
    width: 100%;
  }
}
.product__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1 1 20%;

  .product__price {
    font-weight: 600;
    color: $mc_green;
  }
}

.product__overlay {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 2.4rem;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.75);
  opacity: 0;
  transition: all 0.25s ease-in-out;

  &[data-active='true'] {
    opacity: 1;
    z-index: 3;
  }

  .product__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 8px;
    outline: none;
    background: rgba(245, 245, 245, 0.8);
    border: 1px solid rgb(80, 80, 80);
    padding: 1.6rem;
    margin-bottom: 1.6rem;
    font-size: 20px;
    color: rgb(80, 80, 80);
    cursor: pointer;
    transition: all 0.25s ease-in-out;

    &:hover {
      background: rgba(230, 230, 230, 0.8);
    }

    &.add {
      color: #fff;
      background: rgba(0, 161, 62, 0.8);
      border: 1px solid rgba(0, 161, 62, 1);
      margin-bottom: 0;

      &:hover {
        background: rgba(0, 145, 62, 0.8);
      }

      img {
        margin-right: 8px;
      }
    }
  }
}
