.container {
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto; }

.header {
  display: flex;
  flex-wrap: nowrap;
  height: 132px;
  background: #fff;
  position: relative;
  padding: 2.4rem;
  box-sizing: border-box;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); }
  .header header {
    width: 100%;
    display: flex;
    color: #141414;
    align-items: center; }
  .header .logo {
    width: 99px;
    height: 99px;
    flex: 1 1 30%;
    display: inline-block;
    background: url(../../assets/white-bg-mc-logo.jpeg) no-repeat;
    background-size: contain; }
    .header .logo a {
      display: block;
      height: 100%; }
  .header .cart-container {
    display: flex;
    flex: 1 1 70%;
    justify-content: flex-end;
    align-items: center; }
    .header .cart-container form {
      margin-right: 16px; }
    .header .cart-container .cart-item {
      width: 44px;
      height: 40px;
      display: flex;
      justify-content: space-evenly;
      align-items: center; }
      .header .cart-container .cart-item.has-items {
        background: #009e6c;
        border-radius: 2px;
        padding: 4px;
        box-sizing: border-box;
        width: 100px;
        height: 40px; }
        .header .cart-container .cart-item.has-items .cart-icon {
          background: url(../../assets/cart-white.svg) no-repeat;
          width: 36px;
          height: 32px; }
        .header .cart-container .cart-item.has-items .cart-count {
          font-size: 20px;
          color: #fff; }
      .header .cart-container .cart-item .cart-icon {
        background: url(../../assets/cart-black.svg) no-repeat;
        width: 44px;
        height: 40px; }

nav {
  flex: 1 1 1000px; }

ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  justify-content: space-between;
  align-items: center; }
  ul li {
    cursor: pointer;
    font-size: 2rem; }
    ul li:hover {
      border-bottom: 4px solid #a2854f; }

.main {
  padding: 2.4rem;
  box-sizing: border-box; }
  .main h1 {
    margin-bottom: 1.6rem;
    font-size: 64px;
    color: #fff; }
  .main h2 {
    margin-bottom: 1.6rem;
    color: #fff; }
  .main .main-container {
    display: flex; }
  .main .side-panel-container {
    flex: 1 1 20%;
    display: flex;
    justify-content: flex-end; }
  .main .products-container {
    flex: 1 1 80%; }

.products-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-auto-rows: 1fr;
  grid-gap: 0.8rem;
  gap: 0.8rem; }

.product-card {
  background: rgba(255, 255, 255, 0.5);
  padding: 0.8rem;
  display: flex;
  flex-direction: column;
  position: relative; }

.product__image {
  flex: 1 1 80%;
  margin-bottom: 1.6rem;
  position: relative;
  z-index: 2; }
  .product__image img {
    width: 100%; }

.product__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1 1 20%; }
  .product__info .product__price {
    font-weight: 600;
    color: #00a13e; }

.product__overlay {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 2.4rem;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.75);
  opacity: 0;
  transition: all 0.25s ease-in-out; }
  .product__overlay[data-active='true'] {
    opacity: 1;
    z-index: 3; }
  .product__overlay .product__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 2px;
    outline: none;
    background: rgba(245, 245, 245, 0.8);
    border: 1px solid rgba(80, 80, 80, 0.25);
    padding: 1.6rem;
    margin-bottom: 1.6rem;
    font-size: 20px;
    color: #505050;
    cursor: pointer;
    transition: all 0.25s ease-in-out; }
    .product__overlay .product__btn:hover {
      background: rgba(230, 230, 230, 0.8); }
    .product__overlay .product__btn.add {
      color: #fff;
      background: rgba(0, 158, 108, 0.8);
      border: 1px solid #009e6c;
      margin-bottom: 0; }
      .product__overlay .product__btn.add:hover {
        background: rgba(0, 141, 108, 0.8); }
      .product__overlay .product__btn.add img {
        margin-right: 8px; }

.cart {
  color: #141414;
  position: fixed;
  z-index: 3;
  top: 0;
  right: 0;
  width: 200px;
  height: 100vh;
  padding: 1.6rem;
  background: #f4f4f4;
  transition: all 0.25s ease-in-out;
  display: flex;
  flex-direction: column; }
  .cart[data-active='true'] {
    transform: translateX(0); }
  .cart[data-active='false'] {
    transform: translateX(100%); }

.cart-item img {
  width: 100px;
  height: 100px; }

.checkout-form-wrapper {
  background: rgba(255, 255, 255, 0.8);
  padding: 2.4rem;
  box-sizing: border-box; }

.checkout__form {
  display: flex;
  flex-direction: column; }
  .checkout__form > input,
  .checkout__form select {
    margin-bottom: 1.6rem; }

html {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 62.5%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1469%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%23SvgjsLinearGradient1470)'%3e%3c/rect%3e%3cpath d='M175.27 570.9C383.67 550.52 516.35 109.78 873.39 108.09 1230.43 106.4 1392.32 269.42 1571.51 270.49' stroke='rgba(228%2c 235%2c 242%2c 0.1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M620.81 671.07C753.68 592.96 684.28 139.67 926.1 135.44 1167.92 131.21 1374.12 355.94 1536.67 359.44' stroke='rgba(228%2c 235%2c 242%2c 0.1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M412.07 640.89C554.32 589.33 498 165.99 785.15 164.32 1072.3 162.65 1336.96 380.49 1531.31 382.72' stroke='rgba(228%2c 235%2c 242%2c 0.1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M678.12 634.04C825.61 595.91 875.63 196.11 1097.55 192.02 1319.47 187.93 1405.54 340.93 1516.98 343.22' stroke='rgba(228%2c 235%2c 242%2c 0.1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M366.2 660.66C567.71 620.56 654.68 108.34 971.01 104.18 1287.33 100.02 1417.72 286.93 1575.81 288.98' stroke='rgba(228%2c 235%2c 242%2c 0.1)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1469'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='84.72%25' y1='139.29%25' x2='15.28%25' y2='-39.29%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1470'%3e%3cstop stop-color='rgba(14%2c 47%2c 71%2c 0.37)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(0%2c 158%2c 108%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e"); }

body {
  min-height: 100%;
  font-weight: 400;
  font-size: 2.4rem;
  background-color: transparent; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0; }

h1 {
  font-weight: 100; }

h2,
h3 {
  font-weight: 300; }

h4,
h5 {
  font-weight: 400; }

ul,
ol {
  margin: 0;
  padding: 0; }

button {
  font-family: 'Roboto', sans-serif;
  font-weight: 400; }
